* {
    transition: background-color .5s ease-in;
}

body.light {
    background-color: azure;
    color: black;
}

body.dark {
    background-color: #1e2020;
    color: white;
}

.light .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053349;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.light .header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #05b923 0%, #009cc4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

.dark .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #01010c;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.dark .header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #c00b04 0%, #f35a01 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

.light .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #053349;
    color: #ffffff;
}

.dark .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #01010c;
    color: #ffffff;
}
