* {
    transition: background-color .5s ease-in;
}

body.light {
    background-color: azure;
    color: black;
}

body.dark {
    background-color: #1e2020;
    color: white;
}

.light .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053349;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.light .header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #05b923 0%, #009cc4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

.dark .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #01010c;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.dark .header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #c00b04 0%, #f35a01 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

main {
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    padding: 15px;
    /* gap: 1rem; */
    overflow-y: scroll;
}

ul {
    list-style: none;
}

.blog-container {
    flex: 1 1 50%;
    margin: 15px;
}

article {
    flex: 1 1 50%;
    border: 3px solid;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

article h2 {
    font-size: 18px;
    text-align: left;
    border-bottom: 2px solid;
}

article p {
    font-size: 12px;
    margin-top: 10px;
    height: 100px;
    text-align: left;
}

article h3 {
    font-size: 15px;
}

article button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1e2020;
    border: none;
    color: white;
    margin: 5px;
}

article button:hover {
    color: #c00b04;
    cursor: url(https://em-content.zobj.net/source/skype/289/wastebasket_1f5d1-fe0f.png), auto;
}

.light .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #053349;
    color: #ffffff;
}

.dark .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #01010c;
    color: #ffffff;
}
