/* Tag selector for the nav bar */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Hover effect for the back button
   Credits to this site: https://css-tricks.com/css-link-hover-effects/ */
nav #back {
    font-size: 15px;
    color: white;
    margin-right: 20px;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}
  
nav #back:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.5s ease-in-out;
}
  
nav #back:hover {
    background-position: 0;
}
  
nav #back:hover::before {
    width:100%;
}

/* Make the button transparent and removed the border */
#back {
    background-color: transparent;
    border: none;
}

/* To clarify this is the blog page main for storing blogs */
.blog-main {
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    padding: 15px;
    overflow-y: scroll;
}

/* Remove list styles for each listed item */
ul {
    list-style: none;
}

/* Container size for each blog */
.blog-container {
    flex: 1 1 50%;
    margin: 15px;
}

/* Article size for each blog */
article {
    flex: 1 1 50%;
    border: 3px solid;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

/* Adjusting margins and positioning of text in the blogs */
article h2 {
    font-size: 18px;
    text-align: left;
    border-bottom: 2px solid;
}

article p {
    font-size: 12px;
    margin-top: 10px;
    height: 100px;
    text-align: left;
}

article h3 {
    font-size: 15px;
}

/* Light mode for blog delete button */
.light article button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: azure;
    border: none;
    color: black;
    margin: 5px;
}

/* Dark mode for blog delete button */
.dark article button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1e2020;
    border: none;
    color: white;
    margin: 5px;
}

/* Hover display for delete button */
article button:hover {
    color: #c00b04;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="font-size: 20px;"><text y="20">🗑️</text></svg>'), auto;
}

/* Class selector for defining the space between each contact option */
.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
}

.contact ul a {
    display: inline-block;
    padding: 5px;
}

/* Animation when hovering over each contact option */
.contact ul a:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

/* The following are just ID selectors for each icon representing my portfolio/contact */
#portfolio {
    height: 75px;
    width: 75px;
    background-image: url("../images/portfolio.svg");
    background-size: contain;
    transition: transform .5s ease;
}

#github {
    height: 75px;
    width: 75px;
    background-image: url("../images/github.svg");
    background-size: contain;
    transition: transform .5s ease;
    filter: brightness(125%)
}

#linkedin {
    height: 75px;
    width: 75px;
    background-image: url("../images/linkedin.webp");
    background-size: contain;
    transition: transform .5s ease;
}
