* {
    transition: background-color .5s ease-in-out;
}

body, body.light {
    background-color: azure;
}

body.dark {
    background-color: #1e2020;
}

.header, .light .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053349;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.header h1, .light .header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #05b923 0%, #009cc4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

.dark .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #01010c;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.dark .header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #c00b04 0%, #f35a01 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

#mode {
    background-color: transparent;
    border: none;
}

main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.section-divider {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#blog {
    height: 500px;
    width: 500px;
    background-image: url("../images/blog.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#blog:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

.form-box, .light .form-box {
    background-color: #FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 50vw;
    display: block;
}

.dark .form-box {
    background-color: #9b0505;
    color: white;
    border: 1px solid #0b0161;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(1, 15, 26, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 50vw;
    display: block;
}

form {
    display: flex;
    flex-flow: column wrap;
    position: relative;
}

form h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

form label {
    margin-bottom: 7px;
    margin-top: 20px;
}

input, .light input {
    border-radius: 5px;
    border-width: 3px;
    font-size: 15px;
    background-color: azure;
}

#content, .light #content {
    height: 100px;
    border-radius: 5px;
    border-width: 3px;
    font-size: 15px;
    background-color: azure;
    resize: none;
}

form p, .light form p {
    font-size: 30px;
    margin: 10px 0;
    color: #9b0505;
}

.dark input {
    border-radius: 5px;
    border-width: 3px;
    font-size: 15px;
    background-color: #1e2020;
    color: white;
}

.dark #content {
    height: 100px;
    border-radius: 5px;
    border-width: 3px;
    font-size: 15px;
    background-color: #1e2020;
    color: white;
    resize: none;
}

.dark form p {
    font-size: 30px;
    margin: 10px 0;
    color: aqua;
}

#content {
    display: block;
    min-height: 100px;
    width: 100%;
    margin-top: 10px;
    background-color: whitesmoke;
}

.footer, .light .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #053349;
    color: #ffffff;
}

.dark .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #01010c;
    color: #ffffff;
}
