/* To smoothly transition between light and dark mode */
* {
    transition: background-color .5s ease-in-out;
}

/* Light mode theme */
body.light {
    background-color: azure;
    color: black;
}

/* Dark mode theme */
body.dark {
    background-color: #1e2020;
    color: white;
}

/* Light mode header */
.light .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053349;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.light .header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #05b923 0%, #009cc4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

/* Dark mode header */
.dark .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #01010c;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.dark .header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #c00b04 0%, #f35a01 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

/* Display for the mode switch icon */
#mode {
    background-color: transparent;
    border: none;
}

/* To clarify this is the index page main */
.index-main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Splitting the display between the logo and form */
.section-divider {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Blog icon with a hover animation */
#blog {
    height: 500px;
    width: 500px;
    background-image: url("../images/blog.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#blog:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

/* Light mode footer */
.light .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #053349;
    color: #ffffff;
}

/* Dark mode footer */
.dark .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #01010c;
    color: #ffffff;
}
